[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-plugins/dotbot-apt-get"]
	path = dotbot-plugins/dotbot-apt-get
	url = https://github.com/rubenvereecken/dotbot-apt-get
[submodule "shell/.oh-my-zsh"]
	path = shell/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
