[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-plugins/dotbot-apt-get"]
	path = dotbot-plugins/dotbot-apt-get
	url = https://github.com/rubenvereecken/dotbot-apt-get
[submodule "shell/.oh-my-zsh"]
	path = shell/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "themes/flat-remix"]
	path = themes/flat-remix
	url = https://github.com/daniruiz/flat-remix
[submodule "themes/flat-remix-gtk"]
	path = themes/flat-remix-gtk
	url = https://github.com/daniruiz/flat-remix-gtk
[submodule "dotbot-plugins/dotbot-asdf"]
	path = dotbot-plugins/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "plugins/dotbot-apt-get"]
	path = plugins/dotbot-apt-get
	url = git@github.com:rubenvereecken/dotbot-apt-get.git
[submodule "plugins/dotbot-asdf"]
	path = plugins/dotbot-asdf
	url = git@github.com:rubenvereecken/dotbot-asdf.git
