[Desktop Entry]
Categories=Development;IDE;
Comment=Lightning-smart PHP IDE
Exec="/home/diego.incerti/.local/share/JetBrains/Toolbox/apps/PhpStorm/ch-0/192.6603.42/bin/phpstorm.sh" %f
Icon=/home/diego.incerti/.local/share/JetBrains/Toolbox/apps/PhpStorm/ch-0/.icon.svg
Name=PhpStorm
StartupWMClass=jetbrains-phpstorm
Terminal=false
Type=Application
Version=1.0