[Desktop Entry]
Type=Application
Exec=/usr/bin/guake
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en]=Guake Terminal
Name=Guake Terminal
Comment[en]=
Comment=
