[Desktop Entry]
Type=Application
Exec=/usr/bin/spotify
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en]=Spotify
Name=Spotify
Comment[en]=
Comment=
